# Ignore everything but a few: https://stackoverflow.com/a/987162/2725711
# Ignore all
*

# Except for directories
!*/

# and except for specific file types
!*.css
!*.js
!*.json
!*.md
!*.scss
!*.ts
!*.yaml
!*.yml
!*.html

#####

### Specific files to include


### Specific JSON files to ignore

package.json
package-lock.json

# IDE directories
.idea/
.vscode/

# Output directories
.reports/
reports/
coverage/
.tmp/
dist/
out-tsc/

# Imported source
node_modules/
libs/

